<%- include('../../partials/header.ejs') %>

<div class="container my-5 my-container">
    <div class="row">
        <h1>welcome to your dashboard</h1>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>
</body>
</html>
